/* Global */
:root{
    /* color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-transparent-white: #ffffff9a;
    --color-transparent-yellow: #fff7d1b3;
    --color-transparent-orange: #feb446e3;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-dark-blue: #131335;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radious: 4px;

    /* Animation */
    --animation-duration: 300ms;


}


/* Universal tags */
* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}
/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    padding: 10px 0;
    margin: 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    margin: 8px 0;
}

p { 
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    margin: 4px 0;
}

/* Navbar */
#navbar {
    position: fixed; z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--color-white); 
    background-color: transparent;
    padding: 5 10px;   
    transition: all var(--animation-duration) ease-in-out;
}

#navbar.navbar--appear {
    background-color: var(--color-orange);
}

.navbar__logo{
    display: flex;
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-white);
    line-height: 70px;
    padding: 0 18px;
}

.navbar__logo img{
    width: 40px;
    height: 40px;
    transform: translateY(12px);
} 

.navbar__menu {
    display: flex;
    margin: 0 5px;
    align-items: center;
    
}
.navbar__menu__item { 
        padding: 8px 15px;
        margin: 0 4px;
        cursor: pointer;
        
}

.navbar__menu__item:hover {
    background-color: var(--color-light-white);
    color: var(--color-black);
    border-radius: var(--size-border-radious);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
    border-radius: var(--size-border-radious);
}

.navbar__toggle-btn {
    display:none;
    font-size: large;
    color: var(--color-white);
    position: absolute;
    right: 18px;
    top: 24px;
}



/* Home */
#home {
    background: url(images/background_circle_img.png)
    center/cover no-repeat;
    padding: 100px;
    text-align: center;
    
}

.home__avatar {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home__title, .home__description {
    color: var(--color-white);
    padding: 20px 0;
}

.home__contact {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: 5px;
    padding: 8px;
    margin-top: 30px;
}

/* Section common */

.section {
    text-align: center; 
    margin: auto;
    padding: 0 50px;
}
.section__container {
    max-width: 950px;
    margin: 15px;
    margin: auto;
}

/* About */
#about{
    background-color: var(--color-yellow);
    text-align:center;
    padding: 10px 20px;
}

#about p {
    color: var(--color-light-grey);
    font-weight: var(--weight-semi-bold);
}

.major {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 40px 0;
}


.major i{
    width: 100px;
    padding:15px;
    color:var(--color-orange);
    border: 2px solid var(--color-orange);
    border-radius: 50%;
    font-size: 65px;
}

.major__item{
    width:100px;
    text-align: center;
    color: var(--color-orange); 
}

.major__item:hover i{
    color: var(--color-light-grey);
    transform: rotate(-30deg) scale(1.2);
    border:none;
    transition: all var(--animation-duration) ease;
}

.major__title {
    display: flex;
    justify-content: center;
}

/* skills */

#skills {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 30px 20px;
}

#skills p {
    margin: 20px 0;
}


.skillset {
    display:flex;
    justify-content: space-around;
    margin: 50px 0; 
    
}
.skillset__title{
    color: var(--color-white);
    padding: 10px;
}

.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey)
}

.skill__description__item {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.skill__description{
    padding-bottom: 42px;
}

.skill__bar {
    height: 3px;
    background-color: var(--color-light-grey);
    margin: 0 40px;

}

.skill__value{
    height:3px;
    background-color: var(--color-orange);
}

.skillset__right {
    flex-basis: 40%;
    background-color: var(--color-light-grey);
    display: flex;
    flex-direction: column;
}

.tools {
    flex-basis: 50%;
}

.tools__list {
    margin: 0;
    padding: 12px;
}
.etc {
    background-color: var(--color-grey);
    flex-basis: 50%;
}

.etc__list {
    padding: 12px;
    margin: 0px;
}

/* Work */
#work h1 {
    margin-top: 30px;
}

.work__categories {
    margin: 40px;
}

.category__btn{
    padding:8px 20px;
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radious);
}

.category__btn.active, 
.category__btn:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top:0;
}

.category__count {
    border: 1px solid var(--color-light-white);
    border-radius: 50%;
    background-color: var(--color-dark-blue);
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 18px;
    color: var(--color-white);
    position: relative;
    top: -20px;
    right: -4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background-color: var(--color-light-white);
    width: 250px;
    height: 250px;
    margin: 3px;
    display:flex;
    position: relative;   
    
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    width:100%;
    height: 100%;
    padding: 20px 40px;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all var(--animation-duration) ease-in;
    transform: translateY(10px);
    position: absolute;
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--color-dark-white);
    position: relative;
    left: 40%;
    margin-top: 10px;
}
/* testimonial */
#testimonial {
    background-color: var(--color-light-white);
    margin: 50px 0 0 0;    
    padding: 30px 5px;
}

#testimonial h3 {
    padding: 10px;
}

.testimonial {
    margin: 32px 100px;
    display: flex;
}

.testimonial__avata {
    width: 150px;
    height: 150px;
    position: relative;
    top: 10px;
}

.testimonial__speech-bubble {
    background-color: var(--color-white);
    border-radius: var(--size-border-radious); 
    margin-bottom: 20px;
    padding: 15px;
}

.testimonial__avata:nth-child(odd) {
    margin-right: 25px;
}

.testimonial__avata:nth-child(even) {
    margin-left: 25px;
}

.testimonial__name a{
    color: var(--color-orange);
}

.name {
    color: var(--color-light-grey);
}

/* contact */
#contact {
    background-color: var(--color-orange);
    color: var(--color-white);
    padding-bottom: 32px;
}

.contact__email {
    margin: 24px;
}

.contact__links i{
    display: inline-flex;
    justify-content: center;
    font-size: var(--font-large);
    margin: 5px;
}

.contact__links i:hover {
    transform: scale(1.1);
    color: var(--color-dark-blue);
    transition: all var(--animation-duration) ease-in;
}

.contact__rights {
    margin: 20px;
}

/* For below 760px screen width */
@media screen and (max-width: 760px) {
    .navbar__toggle-btn {
        display: block;
    }
    
    #navbar {
        flex-direction: column;
    }

    .navbar__menu{
        flex-direction: column;
        display: none;
    }

    .navbar__menu__item {
        text-align: center;
    }

    .major {
        flex-direction: column;
        align-items: center;
    }
    .major__item {
        margin: 10px;
    }
    .skillset{
        flex-direction: column;
    }   
    .project {
        flex-grow: 1;
    }
    .project__img {
        margin: auto;
    }
    .testimonial__avata{
        width: 80px;
        height: 80px;
    }
    .category__btn {
        margin: 5px 0;
    }
}